body {
  font-family: 'Verdana', sans-serif;
  background: url('https://img.freepik.com/premium-vector/blue-sky-with-sun-white-clouds_41981-475.jpg?w=996');
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center; /* Center align the entire content */
}

h1 {
  color: #333;
  font-weight: bold;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Center-align buttons */
.button-container {
  text-align: center;
}

/* Add margin between buttons */
button {
  background-color: #3498db;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  width: 48%; /* Adjusted width to leave space for the margin */
  border-radius: 4px;
  margin: 0 2%; /* Added margin between buttons */
  transition: background-color 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #2980b9;
}

#result {
  margin-top: 20px;
  color: #333;
  font-weight: bold;
}
